$primary-color: rgb(7, 136, 7);
$dark-color: black;
$light-color: white;
$fonts: Arial, Helvetica, Serif;
$borders: 10px solid $dark-color;   
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;

